.principal {
    // border: 2px solid red;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.container {
    // border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    form {
        border: 2px solid #005695;
        width: 30vw;
        height: 70vh;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        div {
            // border: 2px solid red;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #005695;
        }

        input {
            border: 2px solid #005695;
            width: 22vw;
            height: 5vh;
            border-radius: 10px;
            outline: none;
            padding-left: 20px;

            &::placeholder {
                color: black;
            }
        }

        .doar {
            background-color: #005695;
            width: 10vw;
            height: 6vh;
            padding-left: 0;
            color: white;
            font-size: 18px;
        }
    }
}

// input:nth-child(6) {
//     background-color: #005695;
//     width: 10vw;
//     height: 6vh;
//     padding-left: 0;
//     color: white;
//     font-size: 18px;
// }

@media(max-width: 1200px) {
    .container {
        // border: 2px solid red;

        form {
            width: 325px;

            input {
                width: 250px;
            }

            .doar {
                width: 130px;
            }
        }
    }
}

@media(max-width: 930px) {
    .container {
        h2 {
            // border: 2px solid red;
            text-align: center;
            font-size: 20px;
        }
    }
}

@media(max-width: 400px) {
    .container {
        h2 {
            // border: 2px solid red;
            font-size: 15px;
        }

        form {
            width: 80vw;

            div {
                h3 {
                    font-size: 5vw;
                }

                img {
                    width: 15vw;
                }
            }

            input {
                width: 80%;
            }

            .doar {
                width: 32vw;
            }
        }
    }
}